npm-debug.log
node_modules/
logs/
mdns/out
mdns/build
mdns/dns_sd.node
mdns/demangle.node
mdns/.lock-wscript
mdns/node_modules
mdns/*.sln
mdns/*.vcxproj*
mdns/.pulse2.properties
mdns/Release
mdns/Debug
